<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="oppgave13-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <select id="type" on-change="typeChanged">
      <option value="length">Lengde</option>
      <option value="temp">Temperatur</option>
    </select>
    <select id="conversion" on-change="convChanged">
      <option value='km2m'>km til miles</option>
      <option value='m2km'>miles til km</option>
    </select><br>
    <input type="number" value="{{origin::input}}"/> -> <input type="text" value="{{calculated}}"/>
  </template>

  <script>
    // Sett default values.
    var type = 'length';
    var conversion = 'km2m';
  
    Polymer({

      is: 'oppgave13-app',

      properties: {
        calculated: {
          type: String, /* fjernet computed her for det trigget ikke ved conv/type-change */
        }
      },
      observers: [
        'calculate(origin)' // Lytt på endring i origin og kjør calculate.
      ],
      setConversion: function(data) { // Funksjon for å endre options i select boksen
        this.$.conversion[0].value = data[0].value;
        this.$.conversion[0].text = data[0].text;
        this.$.conversion[1].value = data[1].value;
        this.$.conversion[1].text = data[1].text;
      },
      calculate: function(origin) { // Kalkuler svar
        var answer = 0;
        if (type == 'length') {
          if(conversion == 'km2m') { // km til miles
            answer = origin * 0.621371192;
          } else if(conversion == 'm2km') { // miles til km
            answer = origin * 1.609344
          }
        } else if(type == 'temp') {
          if(conversion == 'f2c') { // farenheit til celcius
            answer = (origin -32) * 5 / 9;
          } else if (conversion == 'c2f') { // celcius til farenheit
            answer = origin * 9 / 5 + 32;
          }
        }
        
        this.setAttribute('calculated', answer); // Oppdater calculated
      },
      typeChanged: function (e) {
        type = this.$.type.value; // sett ny type.
        
        // Oppdater select med nye options
        if (type == 'length') { // lengde valgt. sett riktig data inn i select
          this.setConversion([
            {value: 'km2m', text: 'km til miles'},
            {value: 'm2km', text: 'miles til km'}
          ]);
        } else if (type == 'temp'){ // temp valgt. sett riktig data inn i select
          this.setConversion([
            {value: 'f2c', text: 'farenheit til celcius'},
            {value: 'c2f', text: 'celcius til farenheit'}
          ]);
        }

        this.convChanged(e); // Trigger convChanged siden vi har lagt inn nye options.
      },
      convChanged: function (e) {
        conversion = this.$.conversion.value; // sett ny conversion
        this.calculate(this.origin); // Kalkuler.
      }
    });
  </script>
</dom-module>
