<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>oppgave13</title>
    <meta name="description" content="oppgave13 description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/src/oppgave13-app/oppgave13-app.html">
  </head>
  <body>
    <!-- Kode for oppgave 13 A her | 
      SOURCE: https://www.youtube.com/watch?v=urCcUR_5kgY&list=PLLnpHn493BHGhoGAb2PRKzv4Zw3QoatK-&index=8 -->
    <dom-module id="hello-binding">
      <template>
        <input type="text" value="{{inputValue::input}}">
        <h1>Hei {{inputValue}}</h1>
      </template>
      <script>
        Polymer({
          is: 'hello-binding'
        });
      </script>
    </dom-module>
    <hello-binding></hello-binding>
    <hr/>
    <oppgave13-app></oppgave13-app>
  </body>
</html>
